### Laravel Defaults ###
/vendor
/node_modules
/storage/*.key
Homestead.yaml
Homestead.json
.env

### PhpStorm ###
/.idea

### Visual Studio Code ###
/.vscode

### Vagrant ###
/.vagrant

### barryvdh/laravel-ide-helper ###
.phpstorm.meta.php
_ide_helper.php
